/*-----------------------------------------------
        Overall Style section starts here
------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  overflow: hidden;
}

html {
  font-size: 55%;
  max-zoom: 90%;
  overflow: hidden;
}

/* Overall Style section ends here  */
/*----------------------------------------
        button section starts here
------------------------------------------  */
.btn-main {
  font-size: 1.6rem;
  font-weight: bolder;
  padding: 15px 35px;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
  display: inline-flex;
  margin-top: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.2rem solid #4070f4;
  border-radius: 0.5rem;
  background-color: #4070f4;
  color: #fff;
}

.btn-main:hover {
  color: #4070f4;
  background: #fff;
}

.btn-login {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #0453ff, #5d86f8, #0453ff);
  font-size: 2rem;
  line-height: 10px;
  color: #03262c;
  text-shadow: 0.4rem 0.4rem 0 #5d86f8;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200%;
}

.btn-login:hover {
  background-position: right;
}

.btn-register {
  color: #fff;
  background: #4070f4;
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  font-weight: 500;
  margin: 0 2rem 2rem;
  justify-content: space-between;
  border: 0.2rem solid #000;
  cursor: pointer;
}

.btn-register:hover {
  background: #fff;
  color: #4070f4;
  border: 0.2rem solid #4070f4;
}

/* button Responsive section starts here  */
@media (max-width: 500px) {
  .btn-main {
    font-size: 2.5rem;
    padding: 10px 20px;
  }
  .btn-main span {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 415px) {
  header .logo {
    font-size: 3rem;
  }
  .btn-main {
    font-size: 2.2rem;
    padding: 8px 15px;
  }
}
/* button Responsive section ends here  */
/* button section ends here  */
/*-----------------------------------------
        Login form section starts here
-------------------------------------------  */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #afc4ff;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  border-top: 8px solid #4070f4;
  border-left: 0.2rem solid #4070f4;
  border-right: 0.2rem solid #4070f4;
  border-bottom: 0.2rem solid #4070f4;
  padding: 15px;
}

.login-container .login-content form {
  width: 420px;
}

.login-content img {
  height: 150px;
  border-radius: 100%;
}

.login-content .title {
  margin: 15px 0;
  color: #03262c;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0.4rem 0.4rem 0 #afc4ff;
  font-size: 4rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #4070f4;
}

.login-content .input-div:hover {
  border-bottom: 3px solid #03262c;
  transition: 0.3s;
  transform-origin: right;
}

.i {
  color: #4070f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.input-div div {
  position: relative;
  height: 45px;
}

.login-container .login-content form .input-div .div input::-moz-placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(119, 119, 119);
  font-size: 20px;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.login-container .login-content form .input-div .div input:-ms-input-placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(119, 119, 119);
  font-size: 20px;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.login-container .login-content form .input-div .div input::placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(119, 119, 119);
  font-size: 20px;
  transition: 0.3s;
}

.input-div div input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 28px;
  font-weight: 300;
  color: #000;
}

.login-content .input-div.one {
  margin-top: 0;
}

.login-content .input-div.pass {
  margin-bottom: 4px;
}

.forgotpass {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  text-decoration: none;
  color: #000;
  margin: 10px;
  font-size: 2rem;
  transition: 0.3s;
}

.forgotpass:hover {
  color: #4070f4;
}

.login-container .login-content form .signup {
  font-size: 2rem;
  color: #000;
  float: left;
}

.login-container .login-content form .signup a {
  font-size: 2rem;
  color: #03262c;
  font-weight: bolder;
}

.login-container .login-content form .signup a:hover {
  color: #4070f4;
}

/* login form Responsive section starts here  */
@media (max-width: 1000px) {
  .login-content img {
    height: 100px;
  }
  .login-content .title {
    font-size: 2.4rem;
  }
  .login-container .login-content form {
    width: 300px;
  }
  .login-container .login-content form .input-div .div input::-moz-placeholder {
    font-size: 14px;
  }
  .login-container .login-content form .input-div .div input:-ms-input-placeholder {
    font-size: 14px;
  }
  .login-container .login-content form .input-div .div input::placeholder {
    font-size: 14px;
  }
  .input-div div input {
    font-size: 19px;
  }
  .login-content .input-div {
    margin: 10px 0;
  }
  .forgotpass {
    font-size: 1.4rem;
  }
  .btn-login {
    height: 40px;
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  .login-content img {
    height: 90px;
  }
  .login-content .title {
    font-size: 2.5rem;
  }
  .login-container .login-content form .input-div .div input::-moz-placeholder {
    font-size: 12px;
  }
  .login-container .login-content form .input-div .div input:-ms-input-placeholder {
    font-size: 12px;
  }
  .login-container .login-content form .input-div .div input::placeholder {
    font-size: 12px;
  }
  .input-div div input {
    font-size: 14px;
  }
  .forgotpass {
    font-size: 1.2rem;
  }
  .login-content .input-div {
    margin: 8px 0;
  }
  .login-container .login-content form .signup {
    font-size: 1.5rem;
  }
  .login-container .login-content form .signup a {
    font-size: 1.5rem;
  }
  .btn-login {
    height: 30px;
    font-size: 1.5rem;
  }
}
/* login form Responsive section ends here  */
/* Login form section ends here  */
/*--------------------------------------------
        Register form section starts here
----------------------------------------------  */
.main {
  padding: 1.5rem;
  min-height: 100vh;
  background-color: #afc4ff;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Register-container {
  max-width: 580px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  border-top: 8px solid #4070f4;
  border-left: 0.2rem solid #4070f4;
  border-right: 0.2rem solid #4070f4;
  border-bottom: 0.2rem solid #4070f4;
}

.Register-container h1 {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  color: #03262c;
}

.Register-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 140px;
  border-radius: 8px;
  background-color: #4070f4;
}

.Register-container form {
  margin-top: 16px;
  background-color: #fff;
  overflow: auto;
  max-width: 600px;
  width: 100%;
}

.Register-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Register-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.Register-container .input-field label {
  font-size: 16px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  color: #4070f4;
}

.Register-container .input-field input,
.Register-container .input-field select {
  display: block;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: 0.2rem solid #4070f4;
  color: rgb(119, 119, 119);
  padding: 0 10px;
  height: 42px;
  margin: 8px 0;
  width: 90%;
}

.Register-container form .fields .input-field .information-error {
  display: inline-flex;
}

.input-field .error {
  font-size: 13px;
  color: red;
  visibility: hidden;
}

.input-field .success {
  font-size: 13px;
  color: green;
  visibility: hidden;
}

.Register-container .input-field select:focus {
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
}

.Register-container .input-field input:focus {
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  color: #000;
}

.Register-container form .Sign-in {
  font-size: 2rem;
  color: #000;
  float: left;
}

.Register-container form .Sign-in a {
  font-size: 2rem;
  color: #03262c;
  font-weight: bolder;
}

.Register-container form .Sign-in a:hover {
  color: #4070f4;
}

/* Register form Responsive section starts here  */
@media (max-width: 700px) {
  .Register-container {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 582px) {
  .Register-container {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .Register-container {
    max-width: 350px;
  }
}
@media (max-width: 430px) {
  .Register-container {
    max-width: 320px;
  }
  .main {
    margin-top: 9rem;
  }
}
@media (max-width: 400px) {
  .Register-container {
    max-width: 270px;
  }
  .Register-container form .fields .input-field input::-moz-placeholder {
    font-size: 2rem;
  }
  .Register-container form .fields .input-field input:-ms-input-placeholder {
    font-size: 2rem;
  }
  .Register-container form .fields .input-field input::placeholder {
    font-size: 2rem;
  }
}
/* Register form Responsive section ends here  */
/* Register form section ends here */
/*-------------------------------------------------
        Forgot password section starts here
--------------------------------------------------- */
.login-content#blur.active {
  filter: blur(20px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.forgotpass-container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}

.forgotpass-container .close-btn:hover {
  color: red;
}

.forgotpass-container form .forgot-information-error {
  display: flex;
  flex-direction: row;
  margin-top: -8px;
  margin-bottom: 4px;
}

.forgotpass-container form .forgot-information-error .forgot-error {
  font-size: 13px;
  color: red;
  visibility: hidden;
}

.forgotpass-container form .forgot-information-error .forgot-success {
  font-size: 13px;
  color: green;
  visibility: hidden;
}

.forgotpass-container input:focus {
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  color: #000;
}

.forgotpass-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 50px;
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  border-top: 8px solid #4070f4;
  border-left: 0.2rem solid #4070f4;
  border-right: 0.2rem solid #4070f4;
  border-bottom: 0.2rem solid #4070f4;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#forgot-password.active {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.forgotpass-container h2 {
  font-size: 25px;
  font-weight: 600;
  color: #03262c;
}

.forgotpass-container h2::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 23%;
  height: 4px;
  width: 140px;
  border-radius: 8px;
  background-color: #4070f4;
}

.forgotpass-container p {
  padding: 6px 0 3px 0;
  font-size: 18px;
  color: #000;
}

.forgotpass-container #line {
  height: 1px;
  width: 100%;
  background: #03262c;
  margin: 5px 0 10px 0;
}

.forgotpass-container label {
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  color: #4070f4;
}

.forgotpass-container input {
  height: 40px;
  width: 90%;
  margin: 5px 0;
  display: block;
  outline: none;
  border: 0.2rem solid #4070f4;
  color: rgb(119, 119, 119);
  font-size: 20px;
  font-weight: 400;
  background: #fff;
  outline: none;
  border-radius: 5px;
  padding: 0px 12px;
}

.forgotpass-container .forgot-btn {
  height: 45px;
  width: 60%;
  border: 0.2rem solid #4070f4;
  color: #fff;
  background: #4070f4;
  box-shadow: 0.5rem 0.5rem 0 #d2dfff;
  font-size: 20px;
  transform: translateX(30%);
  cursor: pointer;
}

.forgotpass-container .forgot-btn:hover {
  background: #fff;
  color: #4070f4;
  border: 0.2rem solid #4070f4;
}

/* Forgot password Responsive section starts here  */
@media (max-width: 550px) {
  .forgotpass-container {
    width: 300px;
    padding: 20px;
  }
  .forgotpass-container h2::before {
    left: 6%;
    top: 16%;
  }
}
@media (max-width: 360px) {
  .forgotpass-container {
    width: 250px;
  }
  .forgotpass-container input {
    height: 35px;
    width: 80%;
    font-size: 17px;
  }
}
@media (max-width: 300px) {
  .forgotpass-container {
    width: 200px;
  }
  .forgotpass-container h2 {
    font-size: 18px;
  }
  .forgotpass-container h2::before {
    left: 8%;
    top: 14%;
  }
}
/* Forgot password Responsive section ends here  */
/* Forgot password section ends here *//*# sourceMappingURL=style.css.map */